<!DOCTYPE html>

<html>
    <head>
        <title>Kick Fighter</title>
        <script src = "/bower_components/jquery/dist/jquery.js"></script>
        <script src = "/public/app.js"></script>
        <script src = "/public/game.js"></script>
        <script src = "/public/gamePad.js"></script>
        <script src = "/public/index.js"></script>
    </head>
    <body>
        Hello World.
    </body>
</html>
