<!DOCTYPE html>

<html>
    <head>
        <title>Kick Fighter</title>
        <script src = "/bower_components/jquery/dist/jquery.js"></script>
        <script src = "/socket.io/socket.io.js"></script>
        <script src = "/public/app/app.js"></script>
        <script src= "/public/app/assets.js"></script>
        <script src = "/public/app/drawer.js"></script>
        <script src = "/public/app/game.js"></script>
        <script src = "/public/app/gamePad.js"></script>
        <script src = "/public/app/index.js"></script>
    </head>
    <body>
        <canvas id='stage' style='border: solid 1px silver' width='1280' hieht='700'>
        </canvas>
    </body>
</html>
